<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Landing Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/blogmaterialio.css">
  <link rel="stylesheet" type="text/css" href="css/blog.css">
  <link rel="stylesheet" type="text/css" href="css/stylePage.css">
  <link rel="icon" type="image/ico" href="images/icon.png" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
  <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
  <script type="text/javascript" src="js/jquery1.js"></script>
  <script type="text/javascript" src="js/jquery2.js"></script>
  <script type="text/javascript" src="js/jquery3.js"></script>
</head>

<body>
  <script>
  $(document).ready(function() {
  $('#example').DataTable( {
      columnDefs: [
          {
              targets: [ 0, 1, 2 ],
              className: 'mdl-data-table__cell--non-numeric'
          }
      ]
  } );

  $(document).on('click', ".line", (function() {
    console.log($(this).children(".url").text());
    window.location.href = "/downloadFile?url="+$(this).children(".url").text();
  }));

} );
  </script>

  <table id="example" class="mdl-data-table" style="width:100%">
          <thead>
              <tr>
                  <th>Titulo</th>
                  <th>Tema</th>
                  <th>Score</th>
              </tr>
          </thead>
          <tbody>
            <% usuarios.forEach((item) => { %>
              <tr class="line">
                  <td><%= item.titulo %></td>
                  <td><%= item.tema %></td>
                  <td><%= item.score %></td>
                  <td><%= item.email %></td>
                  <td><%= item.hoje %></td>
                  <td class="url"><%= item.name %></td>
              </tr>
              <% }) %>

          </tbody>
          <tfoot>
              <tr>
                <th>Titulo</th>
                <th>Tema</th>
                <th>Score</th>
              </tr>
          </tfoot>
      </table>

</body>

</html>
